.select-filter-carga{
    display: flex;
    align-items: center;
    padding: 0px 150px 0px 0px;
            
}
.select-filter-carga label{
    margin:0px;
    padding-right: 2px;
}
#filterCargaSelect{
    border-radius: 4px;
    max-height: 23px;
    max-width: 180px;
}
#filterCargaId:hover ~ #filterCargaSelect {
    background-color: #6DB1F5;
    animation-name: inputSelect;
    animation-duration: 1s;
    animation-direction:alternate;
    animation-iteration-count: infinite;

}

.inputs-select-filter-carga{
    display: flex;
}
.select-filter-carga--option{
    display: block;
}
.select-filter-carga--data{
    margin-right: 5px;
    border-radius: 5px;
}
.select-filter-carga--data input{
    border-radius: 4px;
    max-height: 23px;
    max-width:150px;
    outline: none;
}


@keyframes inputSelect{
    from {background-color: white;}
    to {background-color: rgb(214, 108, 108);}
}



@media only screen and (max-width: 600px){
    .inputs-select-filter-carga{
        flex-direction: column;
    }
    .select-filter-carga{
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;
    }
    .form-control.input-busca{
        min-width: 180px;
    }
}