*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-dashboard.compras{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-grafico-compras{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
    transition: 0.5s;
    cursor: pointer;
}
.dashboard-grafico-compras:hover{
    transform: scale(1.02);
}
.dashboard-grafico-compras{
    width: 900px;
    height: 500px;
}
@media screen and (max-width:560px){
    .dashboard-grafico-compras{
        transform: scale(0.9);
    }
    .dashboard-grafico-compras:hover{
        transform: scale(0.9);
    }
}