*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.content-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-dashboars.content-perfil{
    /* overflow-y: auto; */
    /* max-height: calc(100vh - 70px); */
    height: 100%;   
    background-color: #fafafa;
    border-top: 1px solid rgba(245, 238, 238, 0.8);
}

.perfil-usuario{
    width: 900px;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-dashboard{
    width: fit-content;
}

.open-close-mobile{
    display: flex;
    align-items: center;
}
.top-dashboard-mobile{
    display: flex;
    justify-content: space-between;
}

div.open-close-mobile svg {
    height: 28px;
    width: 28px;
}

.perfil-usuario-foto{
    width: 300px;
    height: 400px;
    background-image: url(../images/cachorro-dentuco.jpg);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
    border-radius: 5px;
}

.perfil-usuario-dados{
    max-width: 500px;
    width: 100%;
}

@media screen and (min-width:701px) and (max-width:1200px){
    .perfil-usuario{
        flex-direction: column;
        padding: 30px;
        width: fit-content;
        margin-top: 300px;
    }
    .perfil-usuario-foto{
        margin-bottom: 10px;
    }
}

@media screen and (min-width:0px) and (max-width:700px){
    .perfil-usuario{
        flex-direction: column;
        padding: 20px;
        width: fit-content;
        margin-top: 200px;
        }
    .perfil-usuario-foto{
        margin-bottom: 10px;
        width: 240px;
        height: 320px;
        background-position: left;
         
    }
}